<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BookBee/src/main/resources/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <title>Configurações</title>
</head>
<body>
    <div class="containerlogo">
        <div class="logofixamain">
            <img src="/BookBee/src/main/resources/static/img/logo.png" alt="logo">
        </div>
    </div>

    <aside class="sidebar">
        <header class="sidebar-header">
            <img class="hexagomenu" src="/BookBee/src/main/resources/static/img/icons8-favos-de-mel-48.png" alt="hexagonos">
        </header>
        <nav>
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Home.png" alt="home">
                    <a href="/BookBee/src/main/resources/templates/main.html"></a>
                    <span><a href="/BookBee/src/main/resources/templates/main.html">Home</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Goal.png" alt="meta">
                    <a href="/BookBee/src/main/resources/templates/metas.html"></a>
                    <span><a href="/BookBee/src/main/resources/templates/metas.html">Metas</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Favorites.png" alt="Favoritos">
                    <a href="/BookBee/src/main/resources/templates/favoritos.html"></a>
                    <span><a href="/BookBee/src/main/resources/templates/favoritos.html">Favoritos</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Quote.png" alt="Citações">
                    <a href="/BookBee/src/main/resources/templates/notas.html"></a>
                    <span><a href="/BookBee/src/main/resources/templates/notas.html">Anotações</a></span>
                </span>
            </button>
    
            <button>
                <span>
                <a href="/BookBee/src/main/resources/templates/home.html"></a>
                    <img src="/BookBee/src/main/resources/static/img/Exit.png" alt="Sair">
                    <span><a href="/BookBee/src/main/resources/templates/home.html">Sair</a></span>
                </span>
            </button>
            
            <div class="logomenu">
                <img src="/BookBee/src/main/resources/static/img/logomenu.png" alt="">
            </div>

            <div class="linha"></div>
        </nav>
    </aside>

    <main class="main">
        <div class="barradepes">
            <input type="text" id="search-txt" placeholder="Encontre o livro que você gosta...">
            <button id="btnBuscar" type="button">
                <img src="/BookBee/src/main/resources/static/img/lupa.png" alt="Lupa">
            </button>
        </div>

        <div class="container-perfil">
            <div class="perfil">
                <img class="perfilimg" src="/BookBee/src/main/resources/static/img/perfil.png" alt="">
              <h3>Olá, Nome do Usuário!</h3>
            </div>
          </div>

        
        <div class="container-alterar">
            <form class="alterar" action="#">
                <label for="Nome">Altera Nome</label>
                <input name="nome" type="text" id="nome" placeholder="Digite seu Nome" >
                
                <label for="E-mail">Alterar E-mail</label>
                <input name="email" type="email" required id="email" placeholder="Insira seu E-mail">
                
                <label for="senha">Alterar Senha</label>
                <input name="senha" type="password" required id="senha" placeholder="Insira sua Senha" >

                <button class="salvar-alterar">Salvar</button>
            </form>
        </div>
        
    </main>
</body>