<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BookBee/src/main/resources/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <title>Detalhes do Livro</title>
</head>
<body>
    <div class="containerlogo">
        <div class="logofixamain">
            <img src="/BookBee/src/main/resources/static/img/logo.png" alt="logo">
        </div>
    </div>

    <aside class="sidebar">
        <header class="sidebar-header">
            <img class="hexagomenu" src="/BookBee/src/main/resources/static/img/icons8-favos-de-mel-48.png" alt="hexagonos">
        </header>
        <nav>
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Home.png" alt="home">
                    <a href="/BookBee/src/main/resources/templates/main.html"></a>
                    <span><a href="/BookBee/src/main/resources/templates/main.html">Home</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Goal.png" alt="meta">
                    <a href="/BookBee/src/main/resources/templates/main.html#metaLeitura"></a>
                    <span><a href="#">Metas</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Favorites.png" alt="Favoritos">
                    <span><a href="#">Favoritos</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Quote.png" alt="Citações">
                    <span><a href="#">Anotações</a></span>
                </span>
            </button>
    
            <button>
                <span>
                <a href="/BookBee/src/main/resources/templates/home.html"></a>
                    <img src="/BookBee/src/main/resources/static/img/Exit.png" alt="Sair">
                    <span><a href="/BookBee/src/main/resources/templates/home.html">Sair</a></span>
                </span>
            </button>
            
            <div class="logomenu">
                <img src="/BookBee/src/main/resources/static/img/logomenu.png" alt="">
            </div>

            <div class="linha"></div>
        </nav>
    </aside>

    <main class="main">
        <div class="usuario">
            <a href="/BookBee/src/main/resources/templates/usuario.html"><img src="/BookBee/src/main/resources/static/img/user.png" alt="Foto do Usuário"></a>
            <p id="username">Nome do Usuário</p> 
        </div>

        <div class="barradepes">
            <input type="text" id="search-txt" placeholder="Encontre o livro que você gosta...">
            <button id="btnBuscar" type="button">
                <img src="/BookBee/src/main/resources/static/img/lupa.png" alt="Lupa">
            </button>
        </div>

        <div class="container-lidos-recentes">
            <div class="titulo-lidos-recentes">
                <p>Detalhes do Livro</p>
            </div>
        </div>
    
        <div class="container-detalhes">
            <div class="conteudo-detalhes">
                    <img id="imgCapaLivro" th:src="${livro.linkImagem}" alt="">
                <div class="tituloAutorResumo">
                    <h2 id="tituloLivro" th:text="${livro.titulo}"></h2>
                    <h4 id="autorLivro" th:text="${livro.autor}"></h4>
                    <div id="descricaoLivro"class="descricaoLivroP"></div>
                    <div class="exibirClassificacao">
                        <ul onmouseenter="adicionarClassificacaoEstrela()">
                            <li><i class="bi bi-star"></i></li>
                            <li><i class="bi bi-star"></i></li>
                            <li><i class="bi bi-star"></i></li>
                            <li><i class="bi bi-star"></i></li>
                            <li><i class="bi bi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="datas">
           <form th:action="@{/livros/{id}/atualizar-data-ini(id=${livro.idLivro})}" method="post">
                <input type="hidden" name="_method" value="PUT" />
                <div class="ini">
                    <h5>Data de Início</h5>
                    <input type="date" name="dataDeIni" th:value="${livro.dataDeIni}">
                </div>
                <button type="submit" class="check-ini"><img src="/BookBee/src/main/resources/static/img/check.png" alt=""></button>
           </form>

           <form th:action="@{/livros/{id}/atualizar-data-fim(id=${livro.idLivro})}" method="post">
                <input type="hidden" name="_method" value="PUT" />
                <div class="fim">
                    <h5>Data de Fim</h5>
                    <input type="date" name="dataDeFim" th:value="${livro.dataDeFim}">
                </div>
                <button type="submit" class="check-fim"><img src="/BookBee/src/main/resources/static/img/check.png" alt=""></button>
            </form>
        </div>

        
        <div id="modal" class="modal">
            <button class="notasP">Notas Pessoais
                <a id="btn1" href="#"><img src="/BookBee/src/main/resources/static/img/more.png" alt="adc">   </a>
            </button>
            
            <button class="resenha"> Resenha e Classificação
                <a id="btn2" href="#"><img src="/BookBee/src/main/resources/static/img/more.png" alt="adc"></a>
            </button>

        </div>
        
        <div class="lista">
            <div id="modal-list" class="modal-list">
                <div class="modal-content-list">
                    <span class="close" id="closeModalButton">&times;</span>
                    <h2>Criar Nova Lista</h2>
                    <form action="/listas/criarlista" method="post">
                        <input type="hidden"  name="idLivros" th:value="${livros.idLivro}">
                        <input type="hidden"  name="leitorId" th:value="${livro.leitor.id}">
                        <input type="text" id="newListName" name="nomeLista" placeholder="Nome da Lista">
                        <button type="submit" id="createListButton">Criar Lista</button>
                    </form>
                    <h3>Listas Existentes</h3>
                    
                    <div class="lista-existente">
                        <div class="botoes-lista">
                            <button class="botao-lista">
                                <a href="#"><img src="/BookBee/src/main/resources/static/img/botão-lista-verde.png" alt=""></a>
                                <p>Clarisse Lispector</p>
                            </button>
                          </div>
                    </div>
                </div>
            </div>
            
            <ul id="userLists"></ul>
                <button class="list" id="openModalButton">Criar Nova Lista
                    <img src="/BookBee/src/main/resources/static/img/more.png" alt="adc">   
                </button>
                <div id="modal" class="modal-list">
                    <div class="modal-content-list">
                        <span class="close" id="closeModalButton">&times;</span>
                        <h2>Criar Nova Lista</h2>
                        <input type="text" id="newListName" placeholder="Nome da Lista">
                        <button type="submit" id="createListButton">Criar Lista
                        </button>
                    </div>
                </div>  
        </div>
            
            
            <!-- Modal  1 -->
                  <div id="myModal1" class="modalNotas">
                      <div class="modal-content-notas">
                      <span class="close-notas">&times;</span>
                      <div class="modal-body-notas">
                          <div class="modal-capa-notas">
                              <img id="img-capa-modal-notas">
                            </div>
                            <div class="modal-notas">
                                <h3 id="titulo-modal-notas" th:text="${livro.titulo}"></h3>
                                <form action="/notas/criarNotas" method="post">
                                    <input type="hidden"  name="idLivros" th:value="${livros.idLivro}">
                                    <input type="hidden"  name="leitorId" th:value="${livro.leitor.id}">
                                    <div>
                                        <textarea name="anotacaotxt" placeholder="Adicionar Notas" id="reviewTextArea" rows="4" cols="50"></textarea>
                                    </div>
                                    <div class="textNotasSalvas" id="textNotasSalvas">
                                        <p class="nota" th:each="anotacao, iterStar:${anotacoes}"
                                        th:if="${interStar.index < 3}" >
                                        <span class="textnota" th:text="${anotacao.anotacao}"></span>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button id="salarModalNotas" type="submit">Salvar</button>
                    </form>
                    </div>
                </div>
                
                <!-- Modal 2 -->
          <div id="myModal2" class="modal-res">
            <div class="modal-content">
                <span class="close-res">&times;</span> 
              <form action="/resenha/criarResenha" method="post">

                  <div class="modal-body">
                      <div class="modal-capa">
                  <img id="img-capa-modal">
                  <div class="modal-exibirClassificacao">
                      <ul onmouseenter="adicionarClassificacaoEstrela()">
                      <li><i class="bi bi-star"></i></li>
                      <li><i class="bi bi-star"></i></li>
                      <li><i class="bi bi-star"></i></li>
                      <li><i class="bi bi-star"></i></li>
                      <li><i class="bi bi-star"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="modal-resenha">
                  <h3 id="titulo-modal"  th:text="${livro.titulo}"></h3>
                  <input type="hidden"  name="idLivros" th:value="${livros.idLivro}">
                  <input type="hidden"  name="leitorId" th:value="${livro.leitor.id}">
                  <textarea  placeholder="Escreva uma resenha sobre o livro..." name="resenhatxt" id="" cols="30" rows="10" th:text="${resenha.isPresent() ? resenha.get().textoResenha : ''}"></textarea>
                </div>
            </div>
            <button type="submit"> Salvar</button>
        </form>
            </div>
          </div>
                <div id="modalDescricaoLivro" class="modalDetalhes">
                    <div class="modalContentDetalhes">
                        <span class="closeDetalhe">&times;</span>
                        <div id="descricaoLivroM"></div>
                    </div>
                </div>


            <div class="detalhePosicao">
            <ul>
                <li>
                    <p><span id="posicao" contenteditable="true">-</span></p>
                    <p>Posição</p>
                </li>
                <li>
                    <p id="numPagina"><span id="numPaginaValue">-</span></p>
                    <p>Páginas</p>
                </li>
                <li>
                    <p><span id="velocidade">-</span></p>
                    <p>Velocidade</p>
                </li>
            </ul>

            <div class="botao-adc">
                <button class="adc">Adicionar</button>
            </div>
        </div>
        
        <script src="/BookBee/src/main/resources/static/js/datas.js"></script>
        <script src="/BookBee/src/main/resources/static/js/busca.js"></script>
        <script src="/BookBee/src/main/resources/static/js/detalhesdolivro.js"></script>
        <script src="/BookBee/src/main/resources/static/js/modal.js"></script>
        <script src="/BookBee/src/main/resources/static/js/modalLista.js"></script>

    </main>