<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <link rel="stylesheet" href="css/style.css">
    <script src="js/mostrasenha.js"></script>
    <script src="js/semscroll.js"></script>

    <title>Login</title>
</head>

<body>
    <aside>
        <div class="containerlogo">
            <div class="logofixa">
                <img src="/img/logo.png" alt="logo">
            </div>
    </aside>
    <main>

        <!-- <div class="container-img-mobile-logcas">
            <div class="img-mobile-logcas">
                <img src="/img/homeMobile.png" alt="">
            </div>
        </div> -->

        <div class="container-form-login">
            <div class="titulogin">
                <p><span class="cor01">Book</span><span class="cor02">Bee</span></p>
            </div>
            <div class="formlogin">
                <form method="post" action="/logar">

                    <label for="E-mail">E-mail</label>
                    <input type="email" name="email" placeholder="Insira seu E-mail" id="email" required>

                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" placeholder="Insira sua Senha" required>
                    <i class="bi bi-eye-fill" id="botao-senha" onclick="mostrarSenha()"></i>

                    <div class="cadastre">
                        <ul>
                            <li>
                                <span class="cores">Não Cadastrado? </span>
                                <a href="/cadastro">
                                    Crie sua conta!</a>
                            </li>
                        </ul>
                        <p th:if="${erro != null}" th:text="${erro}" class="errp-login"></p>
                    </div>
                    <div class="botaologin1">
                        <button type="submit"><a>Login</a></button>
                        </a>
                    </div>
                </form>
            </div>

        </div>


        <div class="container-login">
            <div class="livro01">
                <img src="/img/icons8-favos-de-mel-48.png" alt="hexagonos">
                <p>Contos</p>
            </div>
            <div class="livro02">
                <img src="/img/icons8-favos-de-mel-48.png" alt="hexagonos">
                <p>Poesias</p>
            </div>
            <div class="livro03">
                <img src="/img/icons8-favos-de-mel-48.png" alt="hexagonos">
                <p>Não-Ficção</p>
            </div>
        </div>
    </main>
</body>

</html>