<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/BookBee/src/main/resources/static/css/style.css">
    <script src="/BookBee/src/main/resources/static/js/mostrasenha.js"></script>
    <script src="/BookBee/src/main/resources/static/js/semscroll.js"></script>

<!--link rel="stylesheet" href="/static/css/style.css">
    <script src="/js/mostrasenha.js"></script>
    <script src="/js/semscroll.js"></script>-->

    <title>Login</title>
</head>

<body>
    <aside>
        <div class="containerlogo">
            <div class="logofixa">
            <img src="/BookBee/src/main/resources/static/img/logo.png" alt="logo">
        </div>
    </aside>
    <main>
        
        <div class="titulogin">
            <p><span class="cor01">Book</span><span class="cor02">Bee</span></p>
        </div>
    
        <div class="formlogin">
            <form method="post" action="">
    
                <label for="E-mail">E-mail</label>
                <input type="email" name="email" placeholder="Insira seu E-mail" id="email" required>
                
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" placeholder="Insira sua Senha" required>
                <i class="bi bi-eye-fill" id="botao-senha" onclick="mostrarSenha()"></i>
    
                <div class="cadastre">
                    <ul>
                        <li>
                            <span class="cores">Não Cadastrado? </span>
                            <a href="/BookBee/src/main/resources/templates/cadastro.html">
                                Crie sua conta!</a>
                            </li>
                    </ul>
                </div>
                <div class="botaologin1">
                    <a href="/BookBee/src/main/resources/templates/main.html">
                        <!--<a href="/principal.html">-->
                            <button>Login</button>
                    </a>
                </div>
            </form>
         </div>
    
    <div class="container">
        <div class="livro01">
            <img src="/BookBee/src/main/resources/static/img/icons8-favos-de-mel-48.png" alt="hexagonos">
            <!--<img src="img/icons8-favos-de-mel-48.png" alt="hexagonos">-->    
            <p>Contos</p>
        </div>
        <div class="livro02">
            <img src="/BookBee/src/main/resources/static/img/icons8-favos-de-mel-48.png" alt="hexagonos">
            <!--<img src="img/icons8-favos-de-mel-48.png" alt="hexagonos">-->    
            <p>Poesias</p>
        </div>
        <div class="livro03">
            <img src="/BookBee/src/main/resources/static/img/icons8-favos-de-mel-48.png" alt="hexagonos">
            <!--<img src="img/icons8-favos-de-mel-48.png" alt="hexagonos">-->    
            <p>Não-Ficção</p>
        </div>
    </div>
    </main>
</body>
</html>