<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BookBee/src/main/resources/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <title>Principal</title>
</head>
<body>
    <div class="containerlogo">
        <div class="logofixamain">
                <img src="/BookBee/src/main/resources/static/img/logo.png" alt="logo">
        </div>
    </div>

    <aside class="sidebar">
        <header class="sidebar-header">
            <img class="hexagomenu" src="/BookBee/src/main/resources/static/img/icons8-favos-de-mel-48.png" alt="hexagonos">
        </header>
        <nav>
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Home.png" alt="home">
                    <span>Home</span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Goal.png" alt="meta">
                    <a href=""></a>
                    <span>Metas</span>
                </span>
            </button>
            
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Time.png" alt="Cronômetro">
                    <a href=""></a>
                    <span>Cronômetro</span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Favorites.png" alt="Favoritos">
                    <a href=""></a>
                    <span>Favoritos</span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Quote.png" alt="Citações">
                    <a href=""></a>
                    <span>Citações</span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Exit.png" alt="Sair">
                    <span>Sair</span>
                </span>
            </button>
            
            <div class="logomenu">
                <img src="/BookBee/src/main/resources/static/img/logomenu.png" alt="">
                <a href=""></a>
            </div>

            <div class="linha"></div>
        </nav>
    </aside>

    <main class="main">
        <div class="usuario">
            <img class="image" src="/BookBee/src/main/resources/static/img/user.png" alt="Foto do Usuário">
            </p id="username">Nome do Usuário</p> 
        </div>

        <div class="barradepes">
            <input type="text" class="search-txt" placeholder="Encontre o livro que você gosta...">
            <a href="#">
                <img src="/BookBee/src/main/resources/static/img/lupa.png" alt="Lupa">
                 
            </a>
        </div>

        <div class="container-lidos-recentes">
            <div class="titulo-lidos-recentes">
                <p>Lidos Recentes</p>
                <a href="#">Todos</a>
                <img class="todos-mais" src="/BookBee/src/main/resources/static/img/mais.png" alt="Mais">
            </div>
        </div>

        <ul class="estilizacaoLidos">
            <li onclick="exibirDetalheDoLivro('ud06EAAAQBAJ')">
                <img src="https://books.google.com/books/content?id=ud06EAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
                <div class="informacaoLivro">
                    <p class="paginasLidas"> <i class="bi bi-speedometer2"></i> 04/245</p>
                    <p class="nomeLivro">A biblioteca da meia-noite</p>
                </div>
            </li>
            <li onclick=" exibirDetalheDoLivro('8hJfEAAAQBAJ')">
                <img src="https://books.google.com/books/content?id=8hJfEAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
                <div class="informacaoLivro">
                    <p class="paginasLidas"> <i class="bi bi-speedometer2"></i> 04/470</p>
                    <p class="nomeLivro">Manual de assassinato para boas garotas</p>
                </div>
            </li>
            <li onclick=" exibirDetalheDoLivro('i-xtEAAAQBAJ')">
                <img src="https://books.google.com/books/content?id=i-xtEAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
                <div class="informacaoLivro">
                    <p class="paginasLidas"><i class="bi bi-speedometer2"></i> 784/784</p>
                    <p class="nomeLivro">Chain of Thorns</p>
                </div>
            </li>
            <li onclick=" exibirDetalheDoLivro('EwyvDwAAQBAJ')">
                <img src="https://books.google.com/books/content?id=EwyvDwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
                <div class="informacaoLivro">
                    <p class="paginasLidas"> <i class="bi bi-speedometer2"></i> 414/414</p>
                    <p class="nomeLivro"> Os sete maridos de Evelyn Hugo </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="container-metas">
        <div class="titulo-metas">
            <p>Metas de Leitura</p>
            <a href="#">Todos</a>
            <img class="todos-mais" src="/BookBee/src/main/resources/static/img/mais.png" alt="Mais">
        </div>
    </div>

 
    </main>


</body>
</html>