<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BookBee/src/main/resources/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <title>Perfil</title>
</head>
<body>
    <div class="containerlogo">
        <div class="logofixamain">
            <img src="/BookBee/src/main/resources/static/img/logo.png" alt="logo">
        </div>
    </div>

    <aside class="sidebar">
        <header class="sidebar-header">
            <img class="hexagomenu" src="/BookBee/src/main/resources/static/img/icons8-favos-de-mel-48.png" alt="hexagonos">
        </header>
        <nav>
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Home.png" alt="home">
                    <a href="/BookBee/src/main/resources/templates/main.html"></a>
                    <span><a href="/BookBee/src/main/resources/templates/main.html">Home</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Goal.png" alt="meta">
                    <a href="/BookBee/src/main/resources/templates/metas.html"></a>
                    <span><a href="/BookBee/src/main/resources/templates/metas.html">Metas</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Favorites.png" alt="Favoritos">
                    <a href="/BookBee/src/main/resources/templates/favoritos.html"></a>
                    <span><a href="/BookBee/src/main/resources/templates/favoritos.html">Favoritos</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <img src="/BookBee/src/main/resources/static/img/Quote.png" alt="Citações">
                    <a href="/BookBee/src/main/resources/templates/notas.html"></a>
                    <span><a href="/BookBee/src/main/resources/templates/notas.html">Anotações</a></span>
                </span>
            </button>
    
            <button>
                <span>
                <a href="/BookBee/src/main/resources/templates/home.html"></a>
                    <img src="/BookBee/src/main/resources/static/img/Exit.png" alt="Sair">
                    <span><a href="/BookBee/src/main/resources/templates/home.html">Sair</a></span>
                </span>
            </button>
            
            <div class="logomenu">
                <img src="/BookBee/src/main/resources/static/img/logomenu.png" alt="">
            </div>

            <div class="linha"></div>
        </nav>
    </aside>

    <main class="main">

        <div class="barradepes">
            <input type="text" id="search-txt" placeholder="Encontre o livro que você gosta...">
            <button id="btnBuscar" type="button">
                <img src="/BookBee/src/main/resources/static/img/lupa.png" alt="Lupa">
            </button>
        </div>

        <div class="container-perfil">
            <div class="perfil">
              <button class="perfil-img">
                <a href="/BookBee/src/main/resources/templates/confUsuario.html"><img src="/BookBee/src/main/resources/static/img/perfil.png" alt=""></a>
              </button>
              <h3>Olá, Nome do Usuário!</h3>
            </div>
          </div>

          <div class="container-caixotes">
                <div class="concluidos">
                        <h5>10</h5>
                        <p>Concluídos</p>
                </div>
                <div class="pag-lidas">
                    <h5>1047</h5>
                    <p>Páginas Lidas</p>
            </div>
            <div class="met-lei">
                <h5>0</h5>
                <p>Metas de Leitura</p>
            </div>
          </div>

          <div class="container-botoes-lista">
              <div class="botoes-lista">
                <button class="botao-lista">
                    <a href="#"><img src="/BookBee/src/main/resources/static/img/botão-lista-verde.png" alt=""></a>
                    <p>Clarisse Lispector</p>
                </button>
              </div>
              <div class="botoes-lista">
                <button class="botao-lista">
                    <a href="#"><img src="/BookBee/src/main/resources/static/img/botão-lista-verde.png" alt=""></a>
                    <p>Harry Potter</p>
                </button>
              </div>
              <div class="botoes-lista">
                <button class="botao-lista">
                    <a href="#"><img src="/BookBee/src/main/resources/static/img/botão-lista-verde.png" alt=""></a>
                    <p>Hannibal Lecter</p>
                </button>
              </div>
              <div class="botoes-lista">
                <button class="botao-lista">
                    <a href="#"><img src="/BookBee/src/main/resources/static/img/botão-lista-verde.png" alt=""></a>
                    <p>Literatura Brasileira</p>
                </button>
              </div>
              <div class="botoes-lista">
                <button class="botao-lista">
                    <a href="#"><img src="/BookBee/src/main/resources/static/img/botão-lista-verde.png" alt=""></a>
                    <p>O Povo do Ar</p>
                </button>
              </div>
              <div class="botoes-lista">
                <button class="botao-lista">
                    <a href="#"><img src="/BookBee/src/main/resources/static/img/botão-lista-verde.png" alt=""></a>
                    <p>Jogos Vorazes</p>
                </button>
              </div>
              <div class="botoes-lista">
                <button class="botao-lista">
                    <a href="#"><img src="/BookBee/src/main/resources/static/img/botão-lista-verde.png" alt=""></a>
                    <p>Percy Jackson</p>
                </button>
              </div>
              <div class="botoes-lista">
                <button class="botao-lista">
                    <a href="#"><img src="/BookBee/src/main/resources/static/img/botão-lista-verde.png" alt=""></a>
                    <p>Ler mais tarde</p>
                </button>
              </div>
              
          </div>
    </main>
</body>