
# target
BookBee/target/test-classes/com/teamg/BookBee/BookBeeApplicationTests.class
BookBee/target/classes/templates/main.html
BookBee/target/classes/templates/login.html
BookBee/target/classes/templates/home.html
BookBee/target/classes/templates/cadastro.html
BookBee/target/classes/static/js/semscroll.js
BookBee/target/classes/static/js/carrossel.js
BookBee/target/classes/static/js/mostrasenha.js
BookBee/target/classes/static/img/user.png
BookBee/target/classes/static/img/Time.png
BookBee/target/classes/static/img/relogio.png
BookBee/target/classes/static/img/Quote.png
BookBee/target/classes/static/img/ordenar-para-esquerda.png
BookBee/target/classes/static/img/ordenar-para-esquerda-preenchido.png
BookBee/target/classes/static/img/ordenar-para-a-direita.png
BookBee/target/classes/static/img/ordenar-para-a-direita-preenchido.png
BookBee/target/classes/static/img/mais.png
BookBee/target/classes/static/img/lupa.png
BookBee/target/classes/static/img/logomenu.png
BookBee/target/classes/static/img/logo.png
BookBee/target/classes/static/img/icons8-favos-de-mel-48.png
BookBee/target/classes/static/img/Home.png
BookBee/target/classes/static/img/Goal.png
BookBee/target/classes/static/img/Favorites.png
BookBee/target/classes/static/img/Exit.png
BookBee/target/classes/static/img/Captura_de_tela_2023-10-05_184107-removebg-preview (1).png
BookBee/target/classes/static/css/style.css
BookBee/target/classes/com/teamg/BookBee/service/CookieService.class
BookBee/target/classes/com/teamg/BookBee/service/AuthorizeService.class
BookBee/target/classes/com/teamg/BookBee/repositorios/LivroRepositorio.class
BookBee/target/classes/com/teamg/BookBee/model/Leitor.class
BookBee/target/classes/com/teamg/BookBee/controllers/LoginController.class
BookBee/target/classes/com/teamg/BookBee/controllers/LivrosControllers.class
BookBee/target/classes/com/teamg/BookBee/controllers/LeitoresControllers.class
BookBee/target/classes/com/teamg/BookBee/configuracoes/TokenService.class
BookBee/target/classes/com/teamg/BookBee/configuracoes/SecurityFilter.class
BookBee/target/classes/com/teamg/BookBee/configuracoes/SecurityConfiguration.class
BookBee/target/classes/com/teamg/BookBee/BookBeeApplication.class
BookBee/target/classes/application.properties.example
BookBee/target/classes/com/teamg/BookBee/model/Anotacao.class
BookBee/target/classes/com/teamg/BookBee/model/Livro.class




