<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" href="/BookBee/src/main/resources/static/css/style.css" /> -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <title>Detalhes do Livro</title>
</head>

<body>
    <div class="gambiarra">
        <div class="containerlogo">
            <div class="logofixamain">
                <img src="/img/logo.png" alt="logo">
            </div>
        </div>
        
        <button class="button-mobile" onclick="toggleMenu()">
            <i class="material-symbols"> <img src="/img/menu.png" alt=""> </i>
        </button>

        <nav class="menu-mobile" id="menu-mobile">
            <button onclick="toggleMenu()">
                <span>
                    <i class="material-symbols"> X </i>
                </span>
            </button>
    
            <button >
                <span>
                    <a href="/livros/">
                        <img src="/img/Home.png" alt="home">
                    </a>
                    <span class="nomes-mobile"><a href="/livros/">Home</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <a href="/livros/meta-de-leitura">
                        <img src="/img/Goal.png" alt="meta">
                    </a>
                    <span class="nomes-mobile"><a href="/livros/meta-de-leitura">Metas</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <a href="/livros/livros-favoritos">
                        <img src="/img/Favorites.png" alt="Favoritos">
                    </a>
                    <span class="nomes-mobile"><a href="/livros/livros-favoritos">Favoritos</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <a href="/notas/">
                        <img src="/img/Quote.png" alt="Citações">
                    </a>
                    <span class="nomes-mobile"><a href="/notas/">Anotações</a></span>
                </span>
            </button>
    
            <button>
                <span>
                <a href="/logout">
                    <img src="/img/Exit.png" alt="Sair">
                </a>
                    <span class="nomes-mobile"><a href="/logout">Sair</a></span>
                </span>
            </button>
        </nav>
    </div>

    <aside class="sidebar">
        <header class="sidebar-header">
            <!-- <img class="hexagomenu" src="/BookBee/ src/main/resources/static/img/icons8-favos-de-mel-48.png" -->
            <img class="hexagomenu" src="/img/icons8-favos-de-mel-48.png"
                alt="hexagonos" />
        </header>
        <nav>
            <button>
                <span>
                    <a href="/livros/">
                        <img src="/img/Home.png" alt="home">
                    </a>
                    <span class="nomes"><a href="/livros/">Home</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <a href="/livros/meta-de-leitura">
                        <img src="/img/Goal.png" alt="meta">
                    </a>
                    <span class="nomes"><a href="/livros/meta-de-leitura">Metas</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <a href="/livros/livros-favoritos">
                        <img src="/img/Favorites.png" alt="Favoritos">
                    </a>
                    <span class="nomes"><a href="/livros/livros-favoritos">Favoritos</a></span>
                </span>
            </button>
    
            <button>
                <span>
                    <a href="/notas/">
                        <img src="/img/Quote.png" alt="Citações">
                    </a>
                    <span class="nomes"><a href="/notas/">Anotações</a></span>
                </span>
            </button>
    
            <button>
                <span>
                <a href="/logout">
                    <img src="/img/Exit.png" alt="Sair">
                </a>
                    <span class="nomes"><a href="/logout">Sair</a></span>
                </span>
            </button>
            
            <div class="logomenu">
                <img src="/img/logomenu.png" alt="">
            </div>

            <div class="linha"></div>
        </nav>
    </aside>


    <main class="main detalhes">
        <div class="usuario detalhes">
            <a href="/usuario/pagina-do-usuario"><img src="/img/user.png" alt="Foto do Usuário" /></a>
            <p id="username" th:text="${nomeUsuario}"></p>
        </div>

        <div class="barradepes detalhes">
            <input type="text" id="search-txt" placeholder="Encontre o livro que você gosta..." />
            <button id="btnBuscar" type="button">
                <img src="/img/lupa.png" alt="Lupa" />
            </button>
        </div>

        <div class="container-lidos-recentes detalhes">
            <div class="titulo-lidos-recentes">
                <p>Detalhes do Livro</p>
            </div>
        </div>

        <div class="container-detalhes" th:data-id-livro="${livro.idLivro}" th:data-classificacao="${livro.classificacao}">
            <div class="conteudo-detalhes">
                <img id="imgCapaLivro" th:src="${livro.linkImagem}" alt="" />
                <div class="tituloAutorResumo">
                    <h2 id="tituloLivro" th:text="${livro.titulo}"></h2>
                    <h4 id="autorLivro" th:text="${livro.autor}"></h4>
                    <div id="descricaoLivro" class="descricaoLivroP">
                    </div>
                    <div class="exibirClassificacao">
                        <input type="hidden" id="idLivros" th:value="${livro.idLivro}"/>
                        <input type="hidden" id="classificacao" th:value="${livro.classificacao}"/>
                        <ul onmouseenter="adicionarClassificacaoEstrela()">
                            <li th:each="i : ${#numbers.sequence(1, 5)}">
                                <i th:class="${i <= (livro.classificacao != null ? livro.classificacao : 0) ? 'bi bi-star-fill' : 'bi bi-star'}"></i>
                            </li>
                        </ul>                        
                        <input type="checkbox" id="coracao" th:checked="${livro.favorito}" />
                        <label for="coracao">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="44" viewBox="0 0 24 24" fill="none" stroke="#5D2410" >
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                            </svg>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="datas">
            <form th:action="@{/livros/{id}/atualizar-data-ini(id=${livro.idLivro})}" method="post">
                <input type="hidden" name="_method" value="PUT" />
                <div class="ini">
                    <h5>Data de Início</h5>
                    <input type="date" name="dataDeIni" th:value="${livro.dataDeIni}" />
                </div>
                <button type="submit" class="check-ini">
                    <img src="/img/check.png" alt="" />
                </button>
            </form>

            <form th:action="@{/livros/{id}/atualizar-data-fim(id=${livro.idLivro})}" method="post">
                <input type="hidden" name="_method" value="PUT" />
                <div class="fim">
                    <h5>Data de Fim</h5>
                    <input type="date" name="dataDeFim" th:value="${livro.dataDeFim}" />
                </div>
                <button type="submit" class="check-fim">
                    <img src="/img/check.png" alt="" />
                </button>
            </form>
        </div>

        <div id="modal" class="modal">
            <button class="notasP">
                Notas Pessoais
                <a id="btn1" href="#"><img src="/img/more.png" alt="adc" />
                </a>
            </button>

            <button class="resenha">
                Resenha e Classificação
                <a id="btn2" href="#"><img src="/img/more.png" alt="adc" /></a>
            </button>
        </div>

        <div class="lista">
            <div id="modal-list" class="modal-list">
                <div class="modal-content-list">
                    <span class="close" id="closeModalButton">&times;</span>
                    <h2>Criar Nova Lista</h2>
                    <form action="/listas/criarlista" method="post">
                        <input type="hidden" name="idLivros" th:value="${livro.idLivro}" />
                        <input type="hidden" name="leitorId" th:value="${livro.leitor.id}" />
                        <input type="text" id="newListName" name="nomeListatxt" placeholder="Nome da Lista"/>
                        <button type="submit"  class="bnt-criaLista" id="createListButton">Criar Lista</button>
                    </form>
                    <h3>Listas Existentes</h3>
                    <div class="botoes-lista" th:each="lista : ${listas}">
                        <form th:if="${lista.idLista != null}" action="/listas/adicionarLivro" method="post">
                            <input type="hidden" name="idLivros" th:value="${livro.idLivro}" />
                            <input type="hidden" name="leitorId" th:value="${livro.leitor.id}" />
                            <input type="hidden" name="listaId" th:value="${lista.idLista}" />
                            <button class="botao-lista" type="submit">
                                <img src="/img/botão-lista-branco.png" alt="">
                                <p th:text="${lista.nomeLista}"></p>
                            </button>
                        </form>
                    </div>
                
            </div>
        </div>

            <ul id="userLists"></ul>
            <button class="list" id="openModalButton">
                Criar Nova Lista
                <img src="/img/more.png" alt="adc" />
            </button>
            <div id="modal" class="modal-list">
                <div class="modal-content-list">
                    <span class="close" id="closeModalButton">&times;</span>
                    <h2>Criar Nova Lista</h2>
                    <input type="text" id="newListName" placeholder="Nome da Lista" />
                    <button id="createListButton">Criar Lista</button>
                </div>
            </div>
        </div>

        <!-- Modal  1 -->
        <div id="myModal1" class="modalNotas">
            <div class="modal-content-notas">
                <span class="close-notas">&times;</span>
                <div class="modal-body-notas">
                    <div class="modal-capa-notas">
                        <img id="img-capa-modal-notas" th:src="${livro.linkImagem}"/>
                    </div>
                    <div class="modal-notas">
                        <h3 id="titulo-modal-notas"  th:text="${livro.titulo}"></h3>
                        <form action="/notas/criarNotas" method="post">
                            <input type="hidden" name="idLivros" th:value="${livro.idLivro}" />
                            <input type="hidden" name="leitorId" th:value="${livro.leitor.id}" />
                        <div>
                            <textarea name="anotacaotxt" placeholder="Adicionar Notas" id="reviewTextArea" rows="4" cols="50"></textarea>
                        </div>
                        <div class="textNotasSalvas" id="textNotasSalvas">
                            <p class="nota" th:each="anotacao, iterStart:${anotacoes}"
                            th:if="${iterStart.index < 3}">
                            <span class="textonota" th:text="${anotacao.anotacao}"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <button class="botao-salva" type="submit" id="salarModalNotas">Salvar</button>
            </form>
            </div>
        </div>

        <!-- Modal 2 -->
        <div id="myModal2" class="modal-res">
            <div class="modal-content">
                <span class="close-res">&times;</span>
                <form action="/resenha/criar-resenha" method="post">
                <div class="modal-body">
                    <div class="modal-capa">
                        <img id="img-capa-modal" th:src="${livro.linkImagem}"/>
                        <div class="modal-exibirClassificacao">
                            <ul>
                                <li th:each="i : ${#numbers.sequence((livro.classificacao != null ? livro.classificacao : 0) + 1, 5)}">
                                    <i class="bi bi-star"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-resenha">
                        <h3 id="titulo-modal" th:text="${livro.titulo}"></h3>
                        <input type="hidden" name="idLivro" th:value="${livro.idLivro}">
                        <input type="hidden" name="idLeitor" th:value="${livro.leitor.id}">
                        <textarea placeholder="Escreva uma resenha sobre o livro..." name="resenhatxt" id="" cols="30"
                            rows="10" th:text="${resenha.isPresent() ? resenha.get().textoResenha : ''}"></textarea>
                    </div>
                </div>
                <button type="submit">Salvar</button>
            </form>
            </div>
        </div>
        <div id="modalDescricaoLivro" class="modalDetalhes">
            <div class="modalContentDetalhes">
                <span class="closeDetalhe">&times;</span>
                <div id="descricaoLivroM"></div>
            </div>
        </div>
        <div class="detalhePosicao">
            <form action="/livros/atualizar-posicao-leitura" method="post">
                <input type="hidden" name="idLivro" th:value="${livro.idLivro}">
                <input type="hidden" name="idLeitor" th:value="${livro.leitor.id}">
            <input type="hidden" name="paginasLidas" id="paginasLidasInput">
            <ul>
                <li>
                    <p><span nome="paginasLidas" id="posicao" contenteditable="true" oninput="document.getElementById('paginasLidasInput').value = parseInt(this.innerText)" th:text="${livro.pgLidas != null ? livro.pgLidas : ''}"></span></p>
                    <p>Posição</p>
                </li>
                <li>
                    <p id="numPagina"><span nome="paginas" id="numPaginaValue" th:text="${livro.paginas}"></span></p>
                    <p>Páginas</p>
                </li>
                <li>
                    <p><span id="velocidade" th:text="${velocidade}">-</span></p>
                    <p>Velocidade</p>
                </li>
            </ul>

            <div class="botao-adc">
                <button type="submit" class="adc">Adicionar</button>
            </div>
            </form>
        </div>

        <script src="/js/datas.js"></script>
        <script src="/js/busca.js"></script>
        <script src="/js/detalhesdolivro.js"></script>
        <script src="/js/modalLista.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </main>
    <script src="/js/modal.js"></script>
    <script src="/js/favoritar.js"></script>
    <script src="/js/menuBolha.js"></script>
</body>
</html>