@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Belleza&family=EB+Garamond:ital,wght@0,400;1,700&family=Inter:wght@200;300&family=Merriweather:ital,wght@1,300&family=Noto+Emoji:wght@300&family=Playfair+Display:ital@1&family=Poppins&display=swap');

* {
    font-family: Belleza;
    text-decoration: none;
    list-style-type: none;
}

/*:root {
    --main-color: #BB86FC;
    --second-color: #FFF;
    --third-color: #52327D;
    --fourth-color: #7F39FB;
    --fifth-color: #9B72CF;
}*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FFFBEB;
}

.logo img{
    width: 200px;
    height: 200px;
    padding-left: 10px;
    margin-top: -30px;
}

.bemvindo {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.56);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 200px;
}

.titulo p{
    width: 20px;
    height: 30px;
    flex-shrink: 0;
    font-size: 150px;
    text-shadow: 9px 6px 4px rgba(0, 0, 0, 0.13);
    padding-left: 97px;
    margin-top: 0px;
}

.cor1{
    color: #A7886C;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cor2{
    color: #4B3831;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text{
    width: 430px;
    color: rgba(0, 0, 0, 0.66);
    text-align: justify;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 160px;
}

.botoes{
    display: flex;
    padding-left: 170px;
    margin-top: 50px;
}


.botaologin a button{
    width: 170px;
    height: 50px;
    cursor: pointer;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-right: 50px;
    color: #412E27;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botaocadastro a button{
    width: 170px;
    height: 50px;
    cursor: pointer;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-right: 50px;
    color: #412E27;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.livro1{
    width: 130px;
    height: 800px;
    transform: rotate(22deg);
    flex-shrink: 0;
    background: #5D2410;
    box-shadow: 9px 4px 4px 0px #000;
    float: right;
    margin-right: 31%;
    position: relative;
    top: -420px;
}

.livro1 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 340px;
}

.livro1 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-55deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.livro2 {
    width: 130px;
    height: 800px;
    transform: rotate(11deg);
    flex-shrink: 0;
    background: #7E5F43;
    box-shadow: 9px 4px 4px 0px #000;
    float: right;
    margin-right: -354px;
    position: relative;
    top: -450px;
}

.livro2 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 360px;
}

.livro2 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 52px;
}

.livro3 {
    width: 130px;
    height: 800px;
    transform: rotate(0.543deg);
    flex-shrink: 0;
    background: #6A6F4C;
    box-shadow: 9px 4px 4px 0px #000;
    float: right;
    margin-right: -566px;
    position: relative;
    top: -520px;
}

.livro3 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 430px;
}

.livro3 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}


.containerlogo{
    float: right;
    margin-right: 3%;
}

.logofixa{
    margin-top: -150px;
}

.titulogin  p {
    width: 20px;
    height: 30px;
    flex-shrink: 0;
    text-shadow: 9px 6px 4px rgba(0, 0, 0, 0.13);
    padding-left: 760px;
    font-size: 150px;
    margin-top: 130px;
}

.cor01{
    color: #A7886C;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cor02{
    color: #4B3831;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formlogin form{
    margin-left: 830px;
    margin-top: 150px;
    
}

.formlogin label{
    display: block;
    color: #412E27;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-left: 5px;
    
}


.formlogin input{
    width: 385px;
    height: 60px;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-top: 10px;
    padding-left: 15px;
    outline: none;
}



.formlogin i {
    font-size: 20px;
    cursor: pointer;
    color: #000;
    position: relative;
    top: 5px;
    margin-left: -40px;
}

.cadastre {
    color: rgba(65, 46, 39, 0.80);
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 110px;
}

.cadastre ul {
    padding: 0;
}

.cadastre a{
    color: #412E27;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.botaologin1{
    float: right;
    margin-right: 350px;
    margin-top: 25px;
}

.botaologin1 button{
    width: 170px;
    height: 50px;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-right: 50px;
    color: #412E27;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}

.botaologin1 button a{
    color: #412E27;
}

.livro01{
    width: 130px;
    height: 800px;
    transform: rotate(-0deg);
    flex-shrink: 0;
    background: #6A6F4C;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 90%;
    position: relative;
    top: -610px;
}

.livro01 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 440px;
}

.livro01 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.livro02{
    width: 130px;
    height: 800px;
    transform: rotate(-11deg);
    flex-shrink: 0;
    background: #7E5F43;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 76%;
    position: relative;
    top: -1348px;
}


.livro02 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 390px;
}

.livro02 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.livro03{
    width: 130px;
    height: 800px;
    transform: rotate(-22deg);
    flex-shrink: 0;
    background: #5D2410;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 61%;
    position: relative;
    top: -2103px;
}

.livro03 p{
    width: 200px;
    height: 100px;
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 280px;
}

.livro03 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.containerlogocas{
    float: right;
    margin-right: 3%;
}

.logofixacas{
    margin-top: -110px;
}

.titulocas p{
    width: 200px;
    height: 30px;
    flex-shrink: 0;
    font-size: 150px;
    text-shadow: 9px 6px 4px rgba(0, 0, 0, 0.13);
    padding-left: 670px;
    margin-top: 100px;
}

.titulocas p span.cor01 {
    margin-right: 30px; /* Ajuste o valor conforme necessário */
}

.cor01{
    color: #A7886C;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cor02{
    color: #4B3831;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formcadastro form{
    margin-left: 790px;
    margin-top: 150px;
    
}

.formcadastro label{
    display: block;
    color: #412E27;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-left: 5px;
    
}


.formcadastro input{
    width: 385px;
    height: 60px;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-top: 10px;
    padding-left: 15px;
    outline: none;
}

.logar {
    color: rgba(65, 46, 39, 0.80);
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 130px;
}

.logar ul {
    padding: 0;
}

.logar a{
    color: #412E27;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botaocadastro1{
    padding-left: 915px;
}

.botaocadastro1 button{
    width: 170px;
    height: 50px;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-right: 50px;
    color: #412E27;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-top: 15px;  
}

.botaocadastro1 button a{
    color: #412E27;
}


.livro04{
    width: 130px;
    height: 800px;
    transform: rotate(-0deg);
    flex-shrink: 0;
    background: #6A6F4C;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 90%;
    position: relative;
    top: -663px;
}

.livro04 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 440px;
}

.livro04 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.livro05{
    width: 130px;
    height: 800px;
    transform: rotate(-11deg);
    flex-shrink: 0;
    background: #7E5F43;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 76%;
    position: relative;
    top: -1400px;
}


.livro05 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 390px;
}

.livro05 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.livro06{
    width: 130px;
    height: 800px;
    transform: rotate(-22deg);
    flex-shrink: 0;
    background: #5D2410;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 61%;
    position: relative;
    top: -2155px;
}

.livro06 p{
    width: 200px;
    height: 100px;
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 280px;
}

.livro06 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.logofixamain{
    margin-top: -73px;
}

.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 175px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    flex-shrink: 0;
    background: #A7886C;
    box-shadow: 9px 4px 8px 0px #000;
}

.sidebar-header{
    width: 100%;
    margin-left: 59px;
}

.hexagomenu{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(179.88deg);
    flex-shrink: 0;
    background: cover no-repeat;
    margin-bottom: 40px;
}

.sidebar button{
    height: 65px;
    background: transparent;
    border: 0;
    cursor: pointer;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
    margin-top: 15px;
    margin-left: 10px;
}

.sidebar button span a{
    color: #412E27;
    font-size: 25px;
}

.sidebar button img{
    height: 27px;
    margin-right: 12px;

}

.sidebar button:last-child {
    margin-top: auto;
    padding-bottom: 0px; /* Ajuste o espaçamento do último botão */
  }
  
  /* Adicione a linha branca após o último botão */
  .sidebar::after {
    content: '';
    width: 85%;
    height: 1px;
    background: white;
    margin-top: -155px; /* Ajuste o espaçamento entre a linha branca e o logotipo */
    margin-left: 10px;
    display: block;
  }


.logomenu img{
    width: 130px;
    margin-top: 50px;
    margin-left: 15px;
}

.sidebar button > span{
    display: inline-flex;
    align-items: center;
    
}

.usuario {
    display: flex; /* Tornar o contêiner .usuario um flex container */
    align-items: center;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.60);
    margin-left: 220px; /* Ajuste a margem esquerda conforme necessário */
}

.usuario p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.usuario a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
}


.barradepes{
    width: 390px;
    margin-left: 230px;
    margin-top: 35px;
    
}

.barradepes input{
    border: 0;
    width: 360px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FCFCFC;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    outline: none;
}

.barradepes img{
    margin-bottom: -7px;
    margin-left: -50px;
}

.container-lidos-recentes{
    margin-left: 250px;
    margin-top: 70px;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
}

.titulo-lidos-recentes p {
    color: #412E27;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.titulo-lidos-recentes a{
    width: 57px;
    height: 28px;
    color: #412E27;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
    margin-right: 100px;
    margin-top: -60px;

}

.titulo-lidos-recentes img{
    width: 17px;
    height: 17px;
    float: right;
    margin-right: 90px;
    margin-top: -57px;
}

.estilizacaoLidos {
    color: #412E27;
    display: flex;
    width: 1150px;
    list-style: none;
    padding: 0;
    margin-left: 340px;
    margin-top: 50px;
    
}

.estilizacaoLidos li {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 300px;
    margin: 20px;
    cursor: pointer;
}

.estilizacaoLidos li img {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999;
    position: absolute;
    transition: .5s;
    padding: 0;
    border-radius: 10px;
}

.informacaoLivro {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    background-color: #412E27;
    color: white;
    overflow: hidden;
    margin-top: 3px;
    padding: 0;
    border-radius: 15px;
}

.informacaoLivro p {
    margin: 0 10px 5px 10px;
    color: #FFF;
}

.estilizacaoLidos li:hover img {
    margin-top: -60px;
    margin-right: 60px;
}

.container-metas{
    margin-left: 250px;
    margin-top: 70px;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
}

.titulo-metas p {
    color: #412E27;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titulo-metas a{
    width: 57px;
    height: 28px;
    color: #412E27;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
    margin-right: 100px;
    margin-top: -60px;
}

.titulo-metas img{
    width: 17px;
    height: 17px;
    float: right;
    margin-right: 90px;
    margin-top: -57px;
}

.container-carrossel{
    position: relative;
    padding: 15px;
    max-width: 970px;
    margin-left: 310px;
}

.gallery-wrapper{
    overflow-x: auto;

}

.gallery{
    display: flex;
    flex-flow: row nowrap;      
    gap: 25px;
}

.gallery img{
    width: 500px;
    height: 250px;
    padding: 0px;
    border-radius: 5px;
}

.container-carrossel button{
    background: transparent;
    border: 0;
    
}

.container-carrossel button img{
    width: 80px;
    cursor: pointer;
}

.arrow-left{
    position: absolute;
    margin-top: 80px;
    margin-left: -70px;
}

.arrow-rigth{
    position: absolute;
    margin-top: 80px;
    margin-left: 970px;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }

.gallery-wrapper{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-favoritos{
    margin-left: 250px;
    margin-top: 70px;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
}

.titulo-favoritos p {
    color: #412E27;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titulo-favoritos a{
    width: 57px;
    height: 28px;
    color: #412E27;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
    margin-right: 100px;
    margin-top: -60px;
}

.titulo-favoritos img{
    width: 17px;
    height: 17px;
    float: right;
    margin-right: 90px;
    margin-top: -57px;
}

.carousel-container{
    position: relative;
    padding: 15px;
    max-width: 970px;
    margin-left: 310px;
}

.carousel-wrapper{
    overflow-x: auto;

}

.carousel-gallery{
    display: flex;
    flex-flow: row nowrap;      
    gap: 25px;
}

.carousel-gallery img{
    width: 500px;
    height: 250px;
    padding: 0px;
    border-radius: 5px;
}

.carousel-container button{
    background: transparent;
    border: 0;
    
}

.carousel-container button img{
    width: 80px;
    cursor: pointer;
}

.carousel-arrow-left{
    position: absolute;
    margin-top: 80px;
    margin-left: -70px;
}

.carousel-arrow-right{
    position: absolute;
    margin-top: 80px;
    margin-left: 970px;
}

.carousel-wrapper::-webkit-scrollbar {
    display: none;
  }

.carousel-wrapper{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-citacao{
    margin-left: 250px;
    margin-top: 70px;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
}

.titulo-citacao p {
    color: #412E27;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titulo-citacao a{
    width: 57px;
    height: 28px;
    color: #412E27;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
    margin-right: 100px;
    margin-top: -60px;
}

.titulo-citacao img{
    width: 17px;
    height: 17px;
    float: right;
    margin-right: 90px;
    margin-top: -57px;
}

/*carrossel notas pessoais*/
.meu-carrossel-container{
    position: relative;
    padding: 15px;
    max-width: 970px;

    margin-left: 310px;
}

.meu-carousel-wrapper{
    overflow-x: auto;
}

.meu-carousel-gallery{
    display: flex;
    flex-flow: row nowrap;      
    gap: 37px;
    height: 170px;
    margin-left: 10px;
    margin-top: 10px;
}

.caixa-notas{
    width: 360px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #878C69;
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

.conteudo {
    display: flex; /* Torna os elementos filhos flexíveis */
    flex-direction: column;
    margin-left: 120px;
    margin-top: -170px;
}

.caixa-notas img{
    width: 120px;
    height: 170px;
    z-index: 1;
    margin-top: -9px;
    margin-left: -10px;
    border-radius: 5px;
}

.conteudo h2, p {
    margin-top:-10px ;
    font-size: 14px;
    color: #3E4320; /* Cor do título e texto */
}

.meu-carrossel-container button{
    background: transparent;
    border: 0;
}

.meu-carrossel-container button img{
    width: 80px;
    cursor: pointer;
}

.meu-carousel-arrow-esquerda{
    position: absolute;
    margin-top: 40px;
    margin-left: -70px;
}

.meu-carousel-arrow-direita{
    position: absolute;
    margin-top: 40px;
    margin-left: 970px;
}

.meu-carousel-wrapper::-webkit-scrollbar {
    display: none;
  }

.meu-carousel-wrapper{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-detalhes{
    width: 650px;
    margin-top: 30px;
    margin-left: 515px;
    background-color: #A7886C;
    filter: drop-shadow(5px 6px 10px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.capa img{
    width: 260px;
    height: 395px;
    border-radius: 10px;
}

.datas{
    text-align: center;
    margin-top: 5px;
}

.inicio, .fim {
    display: inline-block;
    margin: 20px; 
    width: 200px; 
    
}

.inicio{
    margin-left: 210px;
}

.fim{
    margin-left: 100px;
}

.inicio button{
    width: 187px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 5px;
    margin-top: -30px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.50);
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

.fim button{
    width: 187px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 5px;
    margin-top: -30px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.50);
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

.check {
    border: none;
    background: transparent;
    vertical-align: middle;
    margin-left: -30px; 
}

.check img{
    width: 30px;
    height: 30px;
}


.modal{
    display: flex;
    margin-left: 500px;
    margin-top: 30px;
}

.notasP{
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    width: 316px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    background: transparent;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.25);
}


.notasP img{
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    margin-left: 180px;
}

.notasP a{
    text-decoration: none;
    color:#412E27;
}

.resenha{
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    width: 316px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    background: transparent;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
}


.resenha img{
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    margin-left: 120px;
}

.resenha a{
    text-decoration: none;
    margin-left: 7px;
    color:#412E27;
}


.detalhePosicao {
    margin-left: 610px;
    width: 463px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
}

.detalhePosicao ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.detalhePosicao ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
    border: none;
    
}

.detalhePosicao ul li p{
    margin-top: 5px;
    font-size: 15px;
    min-width: 5px; 
}

.botao-adc{
    margin-top: 30px;
    margin-left: 145px;
}

.adc{
    width: 148px;
    height: 39.921px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.25);
    background: transparent;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 20px;
}

.adc-livro{
    margin-top: 50px;
    margin-left: 350px;
}

.adc-livro button{
    width: 199px;
    height: 300px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #412E27;
    border-radius: 5px;
    background: none;
    cursor: pointer;
}

.caixa-notas-adc{
    width: 360px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #878C69;
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.25);
    margin-left: 20%;
    margin-top: 50px;
}

.conteudo-adc {
    display: flex; /* Torna os elementos filhos flexíveis */
    flex-direction: column;
    margin-left: 120px;
    margin-top: -170px;
}

.caixa-notas-adc img{
    width: 120px;
    height: 170px;
    z-index: 1;
    margin-top: -9px;
    margin-left: -10px;
    border-radius: 5px;
}

.conteudo-adc h2, p {
    margin-top:-10px ;
    font-size: 14px;
    color: #3E4320; /* Cor do título e texto */
}

.resultadoPesquisa{
    width: 360px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #878C69;
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.25);
    margin-left: 16%;
    margin-top: 80px;
}

.conteudoLivros {
    width: 570px;
    height: 190px;
    background-color: #878C69;
    border-radius: 5px;
    color: #3E4320;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.resultGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 80px 90px;
    padding: 0;
}

#btnBuscar{
    all: unset;
    cursor: pointer;
    outline: revert;

}

.conteudoLivros img{
    width: 150px;
    height: 230px;
    margin-top: -40px;
    margin-left: -20px;
    border-radius: 5px;
}

.conteudoLivros li{
    width: 425px;
    height: 20px;
    flex-shrink: 0;
    margin-bottom: 100px;
    color: #30351B;
    font-family: Belleza;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.conteudoLivros button{
    width: 142px;
    height: 41px;
    background: transparent;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid rgba(48, 53, 27, 0.50);
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 70px;
    margin-left: 80px;
    cursor: pointer;
}