<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <title>Anotações</title>
</head>

<body>
    <div class="containerlogo">
        <div class="logofixamain">
            <img src="/img/logo.png" alt="logo">
        </div>
    </div>

    <aside class="sidebar">
        <header class="sidebar-header">
            <img class="hexagomenu" src="/img/icons8-favos-de-mel-48.png" alt="hexagonos">
        </header>
        <nav>
            <button>
                <span>
                    <img src="/img/Home.png" alt="home">
                    <a href="/livros/"></a>
                    <span><a href="/livros/">Home</a></span>
                </span>
            </button>

            <button>
                <span>
                    <img src="/img/Goal.png" alt="meta">
                    <a href="/livros/meta-de-leitura"></a>
                    <span><a href="/livros/meta-de-leitura">Metas</a></span>
                </span>
            </button>

            <button>
                <span>
                    <img src="/img/Favorites.png" alt="Favoritos">
                    <span><a href="/livros/livros-favoritos">Favoritos</a></span>
                </span>
            </button>

            <button>
                <span>
                    <img src="/img/Quote.png" alt="Citações">
                    <span><a href="/notas/">Anotações</a></span>
                </span>
            </button>

            <button>
                <span>
                    <a href="/logout"></a>
                    <img src="/img/Exit.png" alt="Sair">
                    <span><a href="/logout">Sair</a></span>
                </span>
            </button>

            <div class="logomenu">
                <img src="/img/logomenu.png" alt="">
            </div>

            <div class="linha"></div>
        </nav>
    </aside>

    <main class="main">
        <div class="usuario">
            <a href="#"><img src="/img/user.png" alt="Foto do Usuário"></a>
            <p id="username" th:text="${nomeUsuario}"></p>
        </div>

        <div class="barradepes">
            <input type="text" id="search-txt" placeholder="Encontre o livro que você gosta...">
            <button id="btnBuscar" type="button">
                <img src="/img/lupa.png" alt="Lupa">
            </button>
        </div>

        <div class="container-citacao" id="citacao">
            <div class="titulo-citacao">
                <p>Anotações</p>
            </div>
        </div>
        <div class="container-caixas">
            <div th:each="anotacao : ${anotacoes}" class="caixa-notas-adc">
                <a th:href="@{/livros/{id}(id=${anotacao.livro.idLivro})}">
                    <img th:src="${anotacao.livro.linkImagem}" alt="Capa do livro">
                </a>
                <div class="conteudo-adc">
                    <h5 th:text="${anotacao.livro.titulo}"></h5>
                    <p th:text="${anotacao.anotacao}"></p>
                </div>
            </div>
        </div>

    </main>

</body>