.favoritos{
    margin-top: 50px;
    position: relative;
}

.resultfavoritos{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 20%;
    cursor: pointer;
}

.livrosFavoritosTodos{
    width: 199px;
    height: 300px;
    margin: 20px 10px;
}

.livrosFavoritosTodos img{
    width: 100%;
    margin-left: 10px;
}