@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Belleza&family=EB+Garamond:ital,wght@0,400;1,700&family=Inter:wght@200;300&family=Merriweather:ital,wght@1,300&family=Noto+Emoji:wght@300&family=Playfair+Display:ital@1&family=Poppins&display=swap');

* {
    font-family: Belleza;
    text-decoration: none;
    list-style-type: none;
}

/*:root {
    --main-color: #BB86FC;
    --second-color: #FFF;
    --third-color: #52327D;
    --fourth-color: #7F39FB;
    --fifth-color: #9B72CF;
}*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FFFBEB;
}

.logo img{
    width: 200px;
    height: 200px;
    padding-left: 10px;
    margin-top: -30px;
}

.bemvindo {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.56);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 200px;
}

.titulo p{
    width: 20px;
    height: 30px;
    flex-shrink: 0;
    font-size: 150px;
    text-shadow: 9px 6px 4px rgba(0, 0, 0, 0.13);
    padding-left: 97px;
    margin-top: 0px;
}

.cor1{
    color: #A7886C;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cor2{
    color: #4B3831;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text{
    width: 430px;
    color: rgba(0, 0, 0, 0.66);
    text-align: justify;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 160px;
}

.botoes{
    display: flex;
    padding-left: 170px;
    margin-top: 50px;
}


.botaologin a button{
    width: 170px;
    height: 50px;
    cursor: pointer;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-right: 50px;
    color: #412E27;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botaocadastro a button{
    width: 170px;
    height: 50px;
    cursor: pointer;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-right: 50px;
    color: #412E27;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.livro1{
    width: 130px;
    height: 800px;
    transform: rotate(22deg);
    flex-shrink: 0;
    background: #5D2410;
    box-shadow: 9px 4px 4px 0px #000;
    float: right;
    margin-right: 31%;
    position: relative;
    top: -420px;
}

.livro1 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 340px;
}

.livro1 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-55deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.livro2 {
    width: 130px;
    height: 800px;
    transform: rotate(11deg);
    flex-shrink: 0;
    background: #7E5F43;
    box-shadow: 9px 4px 4px 0px #000;
    float: right;
    margin-right: -354px;
    position: relative;
    top: -450px;
}

.livro2 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 360px;
}

.livro2 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 52px;
}

.livro3 {
    width: 130px;
    height: 800px;
    transform: rotate(0.543deg);
    flex-shrink: 0;
    background: #6A6F4C;
    box-shadow: 9px 4px 4px 0px #000;
    float: right;
    margin-right: -566px;
    position: relative;
    top: -520px;
}

.livro3 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 430px;
}

.livro3 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}


.containerlogo{
    float: right;
    margin-right: 3%;
}

.logofixa{
    margin-top: -150px;
}

.titulogin {
    width: 20px;
    height: 30px;
    flex-shrink: 0;
    font-size: 150px;
    text-shadow: 9px 6px 4px rgba(0, 0, 0, 0.13);
    padding-left: 715px;
}

.cor01{
    color: #A7886C;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cor02{
    color: #4B3831;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formlogin form{
    margin-left: 790px;
    margin-top: 150px;
    
}

.formlogin label{
    display: block;
    color: #412E27;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-left: 5px;
    
}


.formlogin input{
    width: 385px;
    height: 60px;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-top: 10px;
    padding-left: 15px;
}



.formlogin i {
    font-size: 20px;
    cursor: pointer;
    color: #000;
    position: relative;
    top: 5px;
    margin-left: -40px;
}

.cadastre {
    color: rgba(65, 46, 39, 0.80);
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 130px;
}

.cadastre ul {
    padding: 0;
}

.cadastre a{
    color: #412E27;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.botaologin1 a button{
    width: 170px;
    height: 50px;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-right: 50px;
    color: #412E27;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
    margin-right: 409px;
    margin-top: 25px;
}

.livro01{
    width: 130px;
    height: 800px;
    transform: rotate(-0deg);
    flex-shrink: 0;
    background: #6A6F4C;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 90%;
    position: relative;
    top: -610px;
}

.livro01 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 440px;
}

.livro01 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.livro02{
    width: 130px;
    height: 800px;
    transform: rotate(-11deg);
    flex-shrink: 0;
    background: #7E5F43;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 76%;
    position: relative;
    top: -1348px;
}


.livro02 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 390px;
}

.livro02 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.livro03{
    width: 130px;
    height: 800px;
    transform: rotate(-22deg);
    flex-shrink: 0;
    background: #5D2410;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 61%;
    position: relative;
    top: -2103px;
}

.livro03 p{
    width: 200px;
    height: 100px;
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 280px;
}

.livro03 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.containerlogocas{
    float: right;
    margin-right: 3%;
}

.logofixacas{
    margin-top: -110px;
}

.titulocas {
    width: 200px;
    height: 30px;
    flex-shrink: 0;
    font-size: 150px;
    text-shadow: 9px 6px 4px rgba(0, 0, 0, 0.13);
    padding-left: 670px;
    margin-top: -40px;
}

.titulocas p span.cor01 {
    margin-right: 30px; /* Ajuste o valor conforme necessário */
}

.cor01{
    color: #A7886C;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cor02{
    color: #4B3831;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formcadastro form{
    margin-left: 790px;
    margin-top: 150px;
    
}

.formcadastro label{
    display: block;
    color: #412E27;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-left: 5px;
    
}


.formcadastro input{
    width: 385px;
    height: 60px;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-top: 10px;
    padding-left: 15px;
}

.logar {
    color: rgba(65, 46, 39, 0.80);
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 130px;
}

.logar ul {
    padding: 0;
}

.logar a{
    color: #412E27;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.botaocadastro1{
    padding-left: 915px;
}

.botaocadastro1 a button{
    width: 170px;
    height: 50px;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FFFBEB;
    border-color: rgba(0, 0, 0, 0.50);
    margin-right: 50px;
    color: #412E27;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
}

.livro04{
    width: 130px;
    height: 800px;
    transform: rotate(-0deg);
    flex-shrink: 0;
    background: #6A6F4C;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 90%;
    position: relative;
    top: -663px;
}

.livro04 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 440px;
}

.livro04 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.livro05{
    width: 130px;
    height: 800px;
    transform: rotate(-11deg);
    flex-shrink: 0;
    background: #7E5F43;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 76%;
    position: relative;
    top: -1400px;
}


.livro05 p{
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 390px;
}

.livro05 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.livro06{
    width: 130px;
    height: 800px;
    transform: rotate(-22deg);
    flex-shrink: 0;
    background: #5D2410;
    box-shadow: 9px -9px 0px 0px #000 inset;
    float: right;
    margin-right: 61%;
    position: relative;
    top: -2155px;
}

.livro06 p{
    width: 200px;
    height: 100px;
    transform: rotate(-90deg);
    color: #FFFBEB;
    font-size: 30px;
    font-style: normal;
    font-weight: 1px;
    line-height: normal;
    margin-top: 280px;
}

.livro06 img{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(-60deg);
    flex-shrink: 0;
    margin-top: 60px;
    padding-left: 50px;
}

.logofixamain{
    margin-top: -73px;
}

.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 145px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    flex-shrink: 0;
    background: #A7886C;
    box-shadow: 9px 4px 8px 0px #000;
}

.sidebar-header{
    width: 100%;
    margin-left: 32px;
}

.hexagomenu{
    width: 58.993px;
    height: 58.993px;
    transform: rotate(179.88deg);
    flex-shrink: 0;
    background: cover no-repeat;
    margin-bottom: 40px;
    margin-left: 9px;
}

.sidebar button{
    height: 45px;
    background: transparent;
    border: 0;
    color: #412E27;
    cursor: pointer;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
    margin-top: 15px;
}

.sidebar button span{
    font-size: 21px;
}

.sidebar button img{
    height: 20px;
    margin-right: 10px;

}

.sidebar button:last-child {
    margin-top: auto;
    padding-bottom: 0px; /* Ajuste o espaçamento do último botão */
  }
  
  /* Adicione a linha branca após o último botão */
  .sidebar::after {
    content: '';
    width: 85%;
    height: 1px;
    background: white;
    margin-top: -155px; /* Ajuste o espaçamento entre a linha branca e o logotipo */
    margin-left: 10px;
    display: block;
  }


.logomenu img{
    width: 130px;
    margin-top: 70px;
    margin-left: 6px;
}

.sidebar button > span{
    display: inline-flex;
    align-items: center;
    
}

.sidebar button:hover{
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.08);
}

.usuario{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.60);
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
}

.barradepes{
    margin-left: 205px;
    margin-top: 55px;
    
}

.barradepes input{
    border: 0;
    width: 360px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FCFCFC;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
}

.barradepes img{
    margin-bottom: -7px;
    margin-left: -50px;
}

.container-lidos-recentes{
    margin-left: 225px;
    margin-top: 70px;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
}

.titulo-lidos-recentes p {
    color: #412E27;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.titulo-lidos-recentes a{
    width: 57px;
    height: 28px;
    color: #412E27;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
    margin-right: 100px;
    margin-top: -60px;

}

.titulo-lidos-recentes img{
    width: 17px;
    height: 17px;
    float: right;
    margin-right: 90px;
    margin-top: -57px;
}

.estilizacaoLidos {
    color: #412E27;
    display: flex;
    width: 1150px;
    list-style: none;
    padding: 0;
    margin-left: 340px;
    margin-top: 50px;
    
}

.estilizacaoLidos li {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 300px;
    margin: 20px;
    cursor: pointer;
}

.estilizacaoLidos li img {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999;
    position: absolute;
    transition: .5s;
}

.informacaoLivro {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    background-color: #412E27;
    color: white;
    overflow: hidden;
    margin-top: 3px;
}

.informacaoLivro p {
    margin: 0 10px 5px 10px;
}

.estilizacaoLidos li:hover img {
    margin-top: -60px;
    margin-right: 60px;
}

.container-metas{
    margin-left: 225px;
    margin-top: 70px;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
}

.titulo-metas p {
    color: #412E27;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titulo-metas a{
    width: 57px;
    height: 28px;
    color: #412E27;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
    margin-right: 100px;
    margin-top: -60px;
}

.titulo-metas img{
    width: 17px;
    height: 17px;
    float: right;
    margin-right: 90px;
    margin-top: -57px;
}

.container-carrossel{
    position: relative;
    padding: 15px;
    max-width: 970px;
    margin-left: 310px;
}

.gallery-wrapper{
    overflow-x: auto;

}

.gallery{
    display: flex;
    flex-flow: row nowrap;      
    gap:15px;
}

.gallery img{
    width: 700px;
    height: 300px;
    padding-left: 22px;
}

.container-carrossel button{
    background: transparent;
    border: 0;
    
}

.container-carrossel button img{
    width: 90px;
    cursor: pointer;
}

.arrow-left{
    position: absolute;
    margin-top: 100px;
    margin-left: -70px;
}

.arrow-rigth{
    position: absolute;
    margin-top: 101px;
    margin-left: 940px;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }

.gallery-wrapper{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-favoritos{
    margin-left: 225px;
    margin-top: 70px;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
}

.titulo-favoritos p {
    color: #412E27;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titulo-favoritos a{
    width: 57px;
    height: 28px;
    color: #412E27;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
    margin-right: 100px;
    margin-top: -60px;
}

.titulo-favoritos img{
    width: 17px;
    height: 17px;
    float: right;
    margin-right: 90px;
    margin-top: -57px;
}

.carousel-container{
    position: relative;
    padding: 15px;
    max-width: 970px;
    margin-left: 310px;
}

.carousel-wrapper{
    overflow-x: auto;

}

.carousel-gallery{
    display: flex;
    flex-flow: row nowrap;      
    gap:15px;
}

.carousel-gallery img{
    width: 700px;
    height: 300px;
    padding-left: 22px;
}

.carousel-container button{
    background: transparent;
    border: 0;
    
}

.carousel-container button img{
    width: 90px;
    cursor: pointer;
}

.carousel-arrow-left{
    position: absolute;
    margin-top: 100px;
    margin-left: -70px;
}

.carousel-arrow-right{
    position: absolute;
    margin-top: 101px;
    margin-left: 940px;
}

.carousel-wrapper::-webkit-scrollbar {
    display: none;
  }

.carousel-wrapper{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-citacao{
    margin-left: 225px;
    margin-top: 70px;
    text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
}

.titulo-citacao p {
    color: #412E27;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titulo-citacao a{
    width: 57px;
    height: 28px;
    color: #412E27;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
    margin-right: 100px;
    margin-top: -60px;
}

.titulo-citacao img{
    width: 17px;
    height: 17px;
    float: right;
    margin-right: 90px;
    margin-top: -57px;
}